*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}


.b{
    background-color: #e87121;
    width: 200px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
}



nav{
    /* background-color: thistle; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px -3px 15px rgba(0, 0, 0, 0.774);
}

nav #logo, #content{
    padding: 15px 30px;
}
nav #content ul{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #content ul li{
    list-style: none;
    text-transform: capitalize;
    color: #e87121;
    font-size: 15px;
}
#hero{
    display: flex;
    background: url(image/Hero/Headphone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    background-position: 30% 45%;
    flex-direction: column;  
    justify-content: center;  
    align-items: flex-start; 
    padding: 0px 100px;
}

#hero #hero_text{
    /* background-color: violet; */
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#hero #hero_text h2{
    color: darkcyan;
    font-size: 40px;
}
#hero #hero_text h1{
    color: orangered;
    font-size: 50px;
    width: 200px;
}
#hero #hero_text p{
    color: grey;
    font-size: 15px;
}
/* ---------------------------------------------------------------------------------------------------------- */

#card{
    /* background-color: yellowgreen; */
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#card .cb{
    /* background-color: tomato; */
    height: 250px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.349);
}
#card .cb .cb_image{
    /* background-color: turquoise; */
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card .cb .cb_image img{
    width: 100%;
    padding: 5px;
}
#card .cb .cb_title{
    /* background-color:steelblue; */
    width: 75%;
    padding: 10px;
    margin: 10px;
    text-align: center;
     background-color: #e87121;
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
}

#card .cb:hover{
    box-shadow: 0px 0px 12px  #e87121a8;
}

#featured_title{
    /* background-color: #e87121; */
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#featured_title h1{
    font-size: 40px;
    margin: 10px;
}
#featured_title h5{
    margin: 10px;
    font-size: 15px;
    color: rgb(102, 102, 102);
    font-weight: 200;
}

/* ----------------------------------------------------------------------------------------------------- */
#feat_pro .box{
    /* background-color: violet; */
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px rgba(231, 231, 231, 0.199) solid;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.233);
}
#feat_pro .box .image{
    width: 90%;
    height: 70%;
    /* background-color: turquoise; */
    border-radius: 20px;
}
#feat_pro .box .image img{
    width: 100%;
    border-radius: 8%;
}
#feat_pro .box .details {
    /* background-color: yellow; */
    width: 100%;
    padding: 0px 20px;
}

#feat_pro .box .details .pur{
    /* background-color:springgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#feat_pro .box .details .pur .price{
    color: #e87121a8;
}
#feat_pro .box .details .pur .cart{
    background-color:  #e87121a8;
    padding: 10px;
    border-radius: 50px;
}